@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-slate-900;
  width: 380px; /* Standard extension width */
  min-height: 600px;
  overflow-x: hidden;
}

/* Custom Scrollbar for the input sheets */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}